

.tabContainer {
    display: flex;
    overflow: hidden;
}

.tab {
    border: solid black 1px;
    height: 100vh;
    flex: 1 0 5vw;
    max-width: 85vw;
    overflow: hidden;
    transition: all 0.5s;
    transition: flex-grow 0.5s;
    .title {
        z-index: 100;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        &.min {
            height: 10%;
            width: 20%;
        }
        &__heading {
            transition: transform 0.5s;
            transform: translate(0%, 0%) rotate(90deg);
            white-space: nowrap;
            position: relative;
            &::after {
                content: '';
                height: 3px;
                width: 0;
                background: black;
                top: 25px;
                left: 50%;
                position: absolute;
                transition: all 0.5s ease 0.5s;
            }
        }
    }
    &.open {
        flex: 150 0 5vw;
        .title__heading {
            transform: translate(0%, 0%) rotate(0deg);
            transition: all 0.5s;
            &::after {
                content: '';
                height: 3px;
                width: 100%;
                background: black;
                top: 25px;
                left: 0;
                position: absolute;
                transition: all 0.5s ease 0s;
            }
        }
        .projects {
            display: flex;  
        }
    }
    &.menuMode {
        flex: 10 0 auto;
        .title__heading {
            transform: translate(0%, 0%) rotate(0deg);    
        }
        &.hero {
            flex: 1 0 auto;
            .title__heading {
                transform: translate(0%, 0%) rotate(90deg);
            }
        }
    }
}


@media (max-width: 800px) and (min-height: 600px) {
    .tabContainer {
        flex-direction: column;
        height: 100vh;
    }

    .tab {
        height: auto;
        flex-basis: 8vh;
        max-width: 100vw;
        .title {
            z-index: 100;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
            &.min {
                height: 10%;
                width: 15%;
            }
            &__heading {
                transition: transform 0.5s;
                transform: translate(0%, 0%) rotate(0deg);
                white-space: nowrap;
            }
        }
        
    }
}