article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2 {
  margin: 0;
}

.hl {
  background: yellow;
}

img {
  width: 100%;
}

.tabContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.tab {
  border: solid black 1px;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 5vw;
          flex: 1 0 5vw;
  max-width: 85vw;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition: flex-grow 0.5s, -webkit-box-flex 0.5s;
  transition: flex-grow 0.5s, -webkit-box-flex 0.5s;
  transition: flex-grow 0.5s;
  transition: flex-grow 0.5s, -webkit-box-flex 0.5s, -ms-flex-positive 0.5s;
}

.tab .title {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.tab .title.min {
  height: 10%;
  width: 20%;
}

.tab .title__heading {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translate(0%, 0%) rotate(90deg);
          transform: translate(0%, 0%) rotate(90deg);
  white-space: nowrap;
  position: relative;
}

.tab .title__heading::after {
  content: '';
  height: 3px;
  width: 0;
  background: black;
  top: 25px;
  left: 50%;
  position: absolute;
  -webkit-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.tab.open {
  -webkit-box-flex: 150;
      -ms-flex: 150 0 5vw;
          flex: 150 0 5vw;
}

.tab.open .title__heading {
  -webkit-transform: translate(0%, 0%) rotate(0deg);
          transform: translate(0%, 0%) rotate(0deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.tab.open .title__heading::after {
  content: '';
  height: 3px;
  width: 100%;
  background: black;
  top: 25px;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.tab.open .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab.menuMode {
  -webkit-box-flex: 10;
      -ms-flex: 10 0 auto;
          flex: 10 0 auto;
}

.tab.menuMode .title__heading {
  -webkit-transform: translate(0%, 0%) rotate(0deg);
          transform: translate(0%, 0%) rotate(0deg);
}

.tab.menuMode.hero {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.tab.menuMode.hero .title__heading {
  -webkit-transform: translate(0%, 0%) rotate(90deg);
          transform: translate(0%, 0%) rotate(90deg);
}

@media (max-width: 800px) and (min-height: 600px) {
  .tabContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .tab {
    height: auto;
    -ms-flex-preferred-size: 8vh;
        flex-basis: 8vh;
  }
  .tab .title {
    z-index: 100;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .tab .title.min {
    height: 10%;
    width: 15%;
  }
  .tab .title__heading {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
    white-space: nowrap;
  }
}

.contentContainer {
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 10vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  border: 1px solid red;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  height: calc(100vh - 12vh);
  width: 90%;
  max-width: 90%;
  overflow: hidden;
}

.content--projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.open .content {
  opacity: 1;
}

.variableContent {
  width: 100%;
  height: 80vh;
}

.project {
  display: none;
  overflow: hidden;
  width: 100%;
}

.project--1 {
  background: tomato;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.project--1.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.project--2 {
  background: green;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.project--2.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.project--3 {
  background: blue;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.project--3.show {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.project__image {
  width: 50%;
}

.project__description {
  width: 50%;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controls .controlButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  width: 35%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls .controlButton {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */